<!-- app/templates/contact_us.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-info">
            <h2>Quality Assurance Tester</h2>
            <p><strong>Student ID:</strong> 33271232</p>
            <p><strong>First Name:</strong> Khairong</p>
            <p><strong>Last Name:</strong> Lai</p>
            <p><strong>Email:</strong> <a href="mailto:klai0027@student.monash.edu">klai0027@student.monash.edu</a></p>
        </div>
        <div class="contact-info">
            <h2>Technical Lead</h2>
            <p><strong>Student ID:</strong> 32619561</p>
            <p><strong>First Name:</strong> Yu Ean</p>
            <p><strong>Last Name:</strong> Lim</p>
            <p><strong>Email:</strong> <a href="mailto:ylim0073@student.monash.edu">ylim0073@student.monash.edu</a></p>
        </div>
        <div class="contact-info">
            <h2>Project Manager</h2>
            <p><strong>Student ID:</strong> 33206090</p>
            <p><strong>First Name:</strong> Jiun Koon</p>
            <p><strong>Last Name:</strong> Tan</p>
            <p><strong>Email:</strong> <a href="mailto:jtan0374@student.monash.edu">jtan0374@student.monash.edu</a></p>
        </div>
    </div>
</body>
</html>

// identify the which code responsible for the certain feature.
// make some docstring and comments.
// accumulated birdnest grading.
// what we do differently. data augmentation, how we fine tune the model, freezing, what we choose this data augmentation techniques after multiple trials.
// compare our model with our senior, maybe do some data visualization during our final year presentation
// experimental result. we can show the result of our data augmentation techniques, some very low, some very high which is our finalized one.
// metamorphic testing, technicality, impact, practical implication, comparing more models.
// improve the robustness of our model, comparison with existing model with more models, integrate into 
1) Robustness - Augmentation of data
2) Comparison of existing models - More models now, v8,v9 and v10 (2)
3) Integrated into a web application - seamless user experience, low latency
number of occurcence

industrial partner
other researchers, first year student to do the research
save these accuracy, bounding box, results into json file, 
software testing website.